<ul>
  <li>First Name:
    {{model.firstName}}
  </li>
  <li>Last Name:
    {{model.lastName}}
  </li>
  <li>Email:
    {{model.email}}
  </li>
  <li>twitter:
    {{model.twitter}}
  </li>
</ul>

<p>{{#link-to 'friends.index'}}<button>Wróć</button>{{/link-to}}</p>
<p>{{#link-to 'friends.edit' model }}<button>Edytuj</button>{{/link-to}}</p>
<button {{action "delete" model }} >Usuń</button>
